<div class="container">
  <h2>Calculate Monthly Premium</h2>
  <form>

    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" required class="form-control" placeholder="Enter name" name="name">
    </div>

    <div class="form-group">
      <label for="dob">Date of birth:</label>
      <input type="date" (change)="onDOBSelected($event.target.value)" required class="form-control" placeholder="Select date of birth" name="dob">
    </div>

    <div class="form-group">
      <label for="coverAmount">Cover amount:</label>
      <input type="number" (change)="onCoverAmountChanged($event.target.value)" required class="form-control" placeholder="Enter date of birth" name="coverAmount">
    </div>

    <div class="form-group">
      <label for="occupation">Occupation:</label>
      <select (change)="onOccupationSelected($event.target.value)">
        <option value="0">--All--</option>
        <option *ngFor="let occupation of occupations" value={{occupation.id}}>
          {{occupation.name}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <strong>Monthly Premium:</strong> {{ monthlyPremiumAmount | currency}}
    </div>    
    
  </form>
</div>