<form [formGroup]="profileForm">

    <label>
        Name:
        <input required minlength="1"  type="text" formControlName="name">
      </label>    

      <label>
        Date of birth:
        <input required  type="text" formControlName="dob">
      </label>

    <label>
      Cover amount:
      <input required minlength="4"  type="text" formControlName="coverAmount">
    </label>

    <label>
        Occupation:
        <input type="text" formControlName="occupation">
      </label>
  
  </form>